/* .ghost {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 10;
    position: absolute;
    background: url(../thumb.png) no-repeat center center / contain;
} */

.hidden {
    display: none;
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white;
}

.green-bg {
    background-color: #417b56;
}

.text-center {
    text-align: center;
}


.main-title {
    top: 5.5vh;
    left: 8.5vw;
    font-size: 2.23vw;
    font-weight: bold;
    
}

.sub {
    display: inline-block;
    font-size: 1.33vw;
    left: 16.5vw;
    top: 8.5vh;
}

.sub-title {
    top: 22.5vh;
    left: 21.2vw;
    font-size: 1.65vw;
}

.icon {
    left: 8.5vw;
    bottom: 3.3vh;
}

.icon>div {
    margin-right: 2.2vw;
    width: 4.4vw;
}

.icon>.logo-crux {
    width: 11.5vw;
}
.vertical-text {
    top: 47.5vh;
    left: 1.5vw;
    font-size: 1.13vw;
    transform: rotate(-90deg);
    transform-origin: center center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.vertical-text.show {
    opacity: 1;
}
.para {
    max-width: 15.3vw;
    right: 8.5vw;
    top: 45.7vh;
    padding: 2vh;
    font-size: 1.23vw;
    border-radius: 25px;

    color: white;

    background-image: linear-gradient(
        to right,
        #21583b,
        #21583b,
        #21583b,
        #4b897e,
        #2596be
    );
}

.bar-chart-container {
    top: 30vh;
    left: 11.5vw;
    width: 61vw;
    height: 50vh;
}

.bar-chart-y-axis {
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 6.5vh;
}

.bar-chart-y-axis span {
    font-size: 1.17vw;
    text-align: end;
}

.bar-chart {
    width: 58vw;
    height: 40vh;
    top: 2.3vh;
    left: 3.25vw;
}

.chart {
    width: 40.5vw;
    height: 100%;
    display: flex;
    background: url(../images/bar-chart.png) no-repeat;
    
}

.chart-column-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2.4vw;
    padding: 0 4.2vw;
    bottom: 4.8vh;
}
.chart-column-container span {
    background-image: linear-gradient(to top, #21583b, #21583b, #21583b, #4b897e, #2596be);
    width: 4.4vw;
    border-radius: 0.5vw 0.5vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 6.85vh;
    font-size: 1.27vw;
    border: #2596be 1px solid;
}

.sub-chart {
    width: 14vw;
    height: 100%;
    display: flex;
    left: 42.5vw;
    flex-direction: column;
}

.sub-chart-img {
    background: url(../images/sub_chart.png) no-repeat;
    width: 100%;
    height: 100%;
    bottom: -35vh;
}

.sub-chart-column-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2.5vw;
    bottom: 4.75vh;
    padding: 0 1vw;
}

.sub-chart-column-border {
    border-radius: 0.5vw 0.5vw 0 0;
    border: #2596be 1px solid;
    width: 4.4vw;
    height: 35vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.sub-chart-column-border span {
    background-image: linear-gradient(to top, #21583b, #21583b, #21583b, #4b897e, #2596be);
    width: 4.4vw;
    border-radius: 0.5vw 0.5vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 6.85vh;
    font-size: 1.27vw;
}

.sub-chart-column-border:nth-child(1) span {
    height: 13vh;
}

.sub-chart-column-border:nth-child(2) span {
    height: 6vh;
}

.bar-chart-x-axis {
    bottom: 9.2vh;
    left: 7.5vw;
    display: flex;
    flex-direction: row;
    gap: 2.6vw;
}

.bar-chart-x-axis span {
    font-size: 1.17vw;
}

.chart-name {
    bottom: 3.6vh;
    left: 19.9vw;
    font-size: 1.13vw;
}
.main-title,
.sub-title,
.para,
.bar-chart-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.main-title.show,
.sub-title.show,
.vertical-text.show,
.para.show,
.bar-chart-container.show {
    opacity: 1;
}

.chart-column-container span {

    padding-top: 6.85vh;

    opacity: 0;

    transform-origin: bottom center;
    transform: scaleY(0);

    transition:
        transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.3s ease;

    will-change: transform, opacity;
}

.chart-column-container span.show {
    opacity: 1;
}

.chart-column-container span.expand {
    transform: scaleY(1);
}


.chart-column-container span:nth-child(1) {
    height: 24vh;
}

.chart-column-container span:nth-child(2) {
    height: 16.9vh;
}

.chart-column-container span:nth-child(3) {
    height: 11.15vh;
}

.chart-column-container span:nth-child(4) {
    height: 4.95vh;
}

.chart-column-container span:nth-child(5) {
    height: 20.65vh;
}

.bg-icon:has(.icon-ref.active) {
    z-index: 9;
}