.main-title,
.hero-img,
.hero-text{
    opacity: 0;
    transition: all 0.5s ease;
}
.main-title.show,
.hero-img.show,
.hero-text.show{
    opacity: 1;
}

.main-title{
    transition: all 0.5s ease;
    width: 45.34016vw;
    height: 0.1593vh;
    left: 8.45vw;
    top: 35.0417vh;
    font-size: 4.68vh;
}

.hero-text{
    transition: all 0.5s ease;
    width: 45.34016vw;
    height: 0.1593vh;
    left: 8.45vw;
    top: 55.19vh;
    font-size: 2.348vh;
}

.hero-img{
    width: 47.15vw;
    height: 69.65vh;

    left: 50.86vw;
    top: 30.28vh;

    opacity: 0; 
    position: absolute;

    background-image: url(../images/image70.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ghost{
    width: 100vw;
    height: 100vh;
    opacity: 0.5; 
    position: absolute;

    background-image: url(../images/base-1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    width: 100%;
    bottom: 0.1vh;
    left: -1vw;
}

.logo-crux{
    margin-right: 2vw;
}

.bg-icon{
    margin-right: 2.16vw;
}