.khung-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 10.4vh;
    padding-left: 9.1vw;
    padding-right: 9.1vw;
}

.box-lorem {
    width: 12.62vw;
    height: 5.34vh;
    border-radius: 0.5vw;
    box-shadow : 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.2);

    justify-content: center;
    align-items: center; 
    display: flex; 
    margin-bottom: 4.3vh;
    font-size: 1.9vh;

    background: linear-gradient(
        90deg,
        #0c5a34 0%,
        #6eb8d0 100%
    );
}

.lorem-text{
    padding-top: 20vh;
    padding-left: 2.7vw;
    color: white;

    text-align: center;
    font-size: 1.9vh;
}
.img{
    background-position: center;
    background-repeat: no-repeat;

    border: 0.1vw solid white;
    border-radius: 1vw;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.2);
    
    width: 12.72vw;
    height: 13.52vh;
    position: absolute;
}

.thuoc{
    background-image: url(../images/image1018.png);
}

.bieu-do-1{
    background-image: url(../images/image1032.png);
}
.dau-lung{
    background-image: url(../images/image1025.png);
}

.bieu-do-2{
    background-image: url(../images/image1039.png);
}
.elders{
    background-image: url(../images/image1046.png);
}

.thuoc,
.bieu-do-1,
.dau-lung,
.bieu-do-2,
.elders{
    opacity: 0;
    transition: all 0.5s ease;
}

.thuoc.show,
.bieu-do-1.show,
.dau-lung.show,
.bieu-do-2.show,
.elders.show{
    opacity: 1;
}


.ghost{
    width: 100vw;
    height: 100vh;
    opacity: 0.4; 
    position: absolute;

    background-image: url(../ghost.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    width: 100%;
    bottom: 0.1vh;
    left: -1vw;
}

.logo-crux{
    margin-right: 2vw;
}

.bg-icon{
    margin-right: 2.16vw;
}